

<!-- Contact Page -->
<!-- Official Contact Page for Simcoe Muskoka Workforce Development Board -->

<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Simcoe Muskoka Workforce Development Board (SMWDB)">
    <meta name="author" content="RE:404">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/employer-booth.css">

    <!--Font Awesome CDN-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">



    <title>SMWDB</title>
</head>

<body>

   <!-- Page Jumbotron -->
   <div class="jumbotron-sm" id="jumbotronbanner">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-lg-12">
                  <h1 class="h1">
                      Employer Booth
                      <small>Feel free to contact us</small>
                  </h1>
              </div>
          </div>
          <!-- .row -->
      </div>
      <!-- container -->
  </div>



  <!-- Page Content -->
  <div class="container" id="paddingSet">
    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
          <iframe width="700" height="400" src="https://www.youtube.com/embed/rMQyp1n__54" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Casino Rama</h3>
        <img class="img-fluid" src="images/casino-rama.png" alt="">
       
        <br><br>
        <a class="btn btn-primary" href="#" role="button">Live Chat</a>
        <a class="btn btn-success" href="#" role="button">Job Postings</a>
        <a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Social</a>


        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                <p>
                    <a class="fa fa-instagram fa-2x" href="https://www.instagram.com/casinoramaresort/"></a>
                    <a class="fa fa-twitter fa-2x" href="https://twitter.com/casinoramalive?lang=en"></a>
                    <a class="fa fa-facebook fa-2x" href="https://www.facebook.com/casinoramaresort/"></a>
                    <a class="fa fa-youtube fa-2x" href="https://www.youtube.com/user/CasinoRamaResort"></a>      
                </p>
                          
                </div>
            </div>
          </div>

       
      

      </div>

    </div>
    <!-- /.row -->
<hr>
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="accordionaboutbutton">
                About Casino Rama 
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="jumbotron">
                    <h1 class="display-4">Join the team</h1>
                    <p class="lead">Casino Rama is Ontarios only First Nations commercial casino, and is located 30 minutes north of Barrie in the beautiful lake country area of Simoce County</p>
                    <hr class="my-4">
                    <p>Casino Rama engages more then 2,800 C.R.E.W members (Casino Rama Employee Workgroup) to "deal excitement, big time" to our guests 24 hours a day, seven days a week. Casino Rama offers a variety of career opportunities to choose from:</p>
                    <p><a class="btn btn-secondary" href="#" role="button">Slot & Table Games &raquo;</a> <a class="btn btn-secondary" href="#" role="button">Culinary &raquo;</a> <a class="btn btn-secondary" href="#" role="button">Cashiering &raquo;</a> <a class="btn btn-secondary" href="#" role="button">Hotel Operations &raquo;</a> <a class="btn btn-secondary" href="#" role="button">Security &raquo;</a></p>
                   <p><a class="btn btn-secondary" href="#" role="button">Food & Beverage &raquo;</a> <a class="btn btn-secondary" href="#" role="button">Entertainment Center &raquo;</a></p>
                  </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="accordionlinksbutton">
                Links
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <a class="btn btn-primary" href="https://www.casinorama.com/" role="button">Casino Rama Official Website</a>

               </div>
          </div>
        </div>
       
        </div>
      </div>

  </div>
  <!-- /.container -->



    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>