<% include shared/header.ejs %>


<h1><%= title %></h1>

<div class="analyticsContainer">
    <div class="row">
      <div class="col-sm">
        <h2>Analytics</h2>
        <img src="images/pexels-photo-160107.jpeg" alt="Analytics Computer" height="200px" width="200px">
      </div>
      <div class="col-sm">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisl, pulvinar vel elementum vitae, vulputate aliquet orci. Donec lobortis eros id tellus laoreet, convallis semper erat rhoncus. Sed condimentum arcu purus, vitae ultricies neque mollis vel. Donec eu consequat lorem. Phasellus lobortis magna eget orci viverra, nec porta tellus euismod. Donec orci ante, dignissim id ante nec, pharetra tristique nulla. Donec eleifend dolor in est vehicula rutrum. Nulla facilisi. Sed at vestibulum diam. Integer sit amet magna in tellus luctus feugiat. Integer a elit vel purus suscipit tincidunt. Nam eros felis, blandit vel enim aliquet, fermentum suscipit ipsum. Proin lacinia at nisi et sollicitudin. Aliquam dignissim sapien et sem consectetur fringilla. Vestibulum sed venenatis lorem. In ac laoreet purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisl, pulvinar vel elementum vitae, vulputate aliquet orci. Donec lobortis eros id tellus laoreet, convallis semper erat rhoncus. Sed condimentum arcu purus, vitae ultricies neque mollis vel. Donec eu consequat lorem. Phasellus lobortis magna eget orci viverra, nec porta tellus euismod. Donec orci ante, dignissim id ante nec, pharetra tristique nulla. Donec eleifend dolor in est vehicula rutrum. Nulla facilisi. Sed at vestibulum diam. Integer sit amet magna in tellus luctus feugiat. Integer a elit vel purus suscipit tincidunt. Nam eros felis, blandit vel enim aliquet, fermentum suscipit ipsum. Proin lacinia at nisi et sollicitudin. Aliquam dignissim sapien et sem consectetur fringilla. Vestibulum sed venenatis lorem. In ac laoreet purus.</p>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Total Active Job Seekers</th>
        <th scope="col">Total Job Seeker "no shows"</th>
        <th scope="col">Job Seeker Registration Data</th>
        <th scope="col">Total Employers</th>
        <th scope="col">Employer Registration Information/ Contact Information</th>
        <th scope="col">Total Booth Visits</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>10</td>
        <td>25</td>
        <td>40</td>
        <td>30</td>
        <td>15</td>
        <td>40</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>10</td>
        <td>25</td>
        <td>40</td>
        <td>30</td>
        <td>15</td>
        <td>40</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>10</td>
        <td>25</td>
        <td>40</td>
        <td>30</td>
        <td>15</td>
        <td>40</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Number of Visits per Employer Booth</th>
        <th scope="col">Number of Chats per booth</th>
        <th scope="col">Total Number of Chats</th>
        <th scope="col">Number of Uploaded Resumes</th>
        <th scope="col">Number of Resumes Viewed by Employers</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>100</td>
        <td>10</td>
        <td>30</td>
        <td>29</td>
        <td>43</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>100</td>
        <td>10</td>
        <td>30</td>
        <td>29</td>
        <td>43</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>100</td>
        <td>10</td>
        <td>30</td>
        <td>29</td>
        <td>43</td>
      </tr>
    </tbody>
  </table>

<% include shared/footer.ejs %>
