<% include shared/header.ejs %>


<h1><%= title %></h1>
<p><%= message %></p>

<div class="employerContainer">
    <div class="row">
      <div class="col-sm">
        <h2>Why you should Employ with us</h2>
        <img src="images/pexels-photo-541522.jpeg" alt="Mobile Apps Image" height="200px" width="200px">
      </div>
      <div class="col-sm">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisl, pulvinar vel elementum vitae, vulputate aliquet orci. Donec lobortis eros id tellus laoreet, convallis semper erat rhoncus. Sed condimentum arcu purus, vitae ultricies neque mollis vel. Donec eu consequat lorem. Phasellus lobortis magna eget orci viverra, nec porta tellus euismod. Donec orci ante, dignissim id ante nec, pharetra tristique nulla. Donec eleifend dolor in est vehicula rutrum. Nulla facilisi. Sed at vestibulum diam. Integer sit amet magna in tellus luctus feugiat. Integer a elit vel purus suscipit tincidunt. Nam eros felis, blandit vel enim aliquet, fermentum suscipit ipsum. Proin lacinia at nisi et sollicitudin. Aliquam dignissim sapien et sem consectetur fringilla. Vestibulum sed venenatis lorem. In ac laoreet purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisl, pulvinar vel elementum vitae, vulputate aliquet orci. Donec lobortis eros id tellus laoreet, convallis semper erat rhoncus. Sed condimentum arcu purus, vitae ultricies neque mollis vel. Donec eu consequat lorem. Phasellus lobortis magna eget orci viverra, nec porta tellus euismod. Donec orci ante, dignissim id ante nec, pharetra tristique nulla. Donec eleifend dolor in est vehicula rutrum. Nulla facilisi. Sed at vestibulum diam. Integer sit amet magna in tellus luctus feugiat. Integer a elit vel purus suscipit tincidunt. Nam eros felis, blandit vel enim aliquet, fermentum suscipit ipsum. Proin lacinia at nisi et sollicitudin. Aliquam dignissim sapien et sem consectetur fringilla. Vestibulum sed venenatis lorem. In ac laoreet purus.</p>
      </div>
    </div>
  </div>

<div class="sucessStoriesContainer">
  <h1>Success Stories</h1>
  <div class="row">
    <div class="col-sm">
    <img src="images/pexels-photo-160107.jpeg" alt="Computer Code Image" height="400px" width="500px">
    </div>
    <div class="col-sm">
         <div class="sucessStoriesText">
          <h4>Bracebridge Timber Mill - Employer</h4>
              <p>One of the younger clients of Northern Lights Canada (Bracebridge)  (link is external)completed his Forestry and Environmental Resource Management Diploma.  For approximately 6 months he searched for a job in his field and was unsuccessful as he did not have work experience.  Through the Youth Employment Fund we found him a position at a local timber mill.  His new employer will be providing him with additional training and the experience he requires.</p>
          </div>
      </div>
    </div>
</div>

<h1>How we help you</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisl, pulvinar vel elementum vitae, vulputate aliquet orci. Donec lobortis eros id tellus laoreet, convallis semper erat rhoncus. Sed condimentum arcu purus, vitae ultricies neque mollis vel. Donec eu consequat lorem. Phasellus lobortis magna eget orci viverra, nec porta tellus euismod. Donec orci ante, dignissim id ante nec, pharetra tristique nulla. Donec eleifend dolor in est vehicula rutrum. Nulla facilisi. Sed at vestibulum diam. Integer sit amet magna in tellus luctus feugiat. Integer a elit vel purus suscipit tincidunt. Nam eros felis, blandit vel enim aliquet, fermentum suscipit ipsum. Proin lacinia at nisi et sollicitudin. Aliquam dignissim sapien et sem consectetur fringilla. Vestibulum sed venenatis lorem. In ac laoreet purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisl, pulvinar vel elementum vitae, vulputate aliquet orci. Donec lobortis eros id tellus laoreet, convallis semper erat rhoncus. Sed condimentum arcu purus, vitae ultricies neque mollis vel. Donec eu consequat lorem. Phasellus lobortis magna eget orci viverra, nec porta tellus euismod. Donec orci ante, dignissim id ante nec, pharetra tristique nulla. Donec eleifend dolor in est vehicula rutrum. Nulla facilisi. Sed at vestibulum diam. Integer sit amet magna in tellus luctus feugiat. Integer a elit vel purus suscipit tincidunt. Nam eros felis, blandit vel enim aliquet, fermentum suscipit ipsum. Proin lacinia at nisi et sollicitudin. Aliquam dignissim sapien et sem consectetur fringilla. Vestibulum sed venenatis lorem. In ac laoreet purus.</p>


<% include shared/footer.ejs %>