<% include shared/header.ejs %>

    <!-- Page Jumbotron -->
    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1">
                        Frequently Asked Questions
                        <small>Feel free to contact us</small>
                    </h1>
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- container -->
    </div>
    <!-- jumbotron jumbotron-sm -->


    <div class="container">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            This section contains a wealth of information, related to the
            <strong>Simcoe Muskoka Workforce Development Board</strong> and its online website. If you cannot find an answer to your
            question, make sure to contact us.
        </div>
        <!-- alert alert-warning alert-dismissible -->
        <br>

        <div id="accordion">
            <div class="faqHeader">General questions</div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">General Help</a>
                    </h4>
                </div>
                <!-- card-header -->

                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="card-block">
                        <div style="width:100%;border-top:1px solid silver">
                            <p style="padding:15px;">
                                <small>
                                    Here are a few general questions to help.
                                </small>
                            </p>
                            <small>
                                <ul>
                                    <a href="#">
                                        <li>How to sign up as a job seeker</li>
                                    </a>
                                    <a href="#">
                                        <li>Can i upload my resume?</li>
                                    </a>
                                    <a href="#">
                                        <li>When do the job fairs go active</li>
                                    </a>
                                    <a href="#">
                                        <li>Can i chat with someone in live support</li>
                                    </a>
                                </ul>
                            </small>
                        </div>
                        <!-- width:100%;border-top:1px solid silver -->
                    </div>
                    <!--  card-block -->
                </div>
                <!-- panel-collapse collapse in -->
            </div>
            <!-- card -->

            <div class="card">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Forgot/Reset Password</a>
                    </h4>
                </div>
                <!-- card-header -->

                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="card-block">
                        <div style="width:100%;border-top:1px solid silver">
                            <p style="padding:15px;">
                                <small>
                                    Stay connected either on the phone or the Web with the Galaxy S4 I337 from Samsung. With 16 GB of memory and a 4G connection,
                                    this phone stores precious photos and video and lets you upload them to a cloud or social
                                    network at blinding-fast speed. With a 17-hour operating life from one charge, this phone
                                    allows you keep in touch even on the go. With its built-in photo editor, the Galaxy S4
                                    allows you to edit photos with the touch of a finger, eliminating extraneous background
                                    items. Usable with most carriers, this smartphone is the perfect companion for work or
                                    entertainment.
                                    <br>
                                    <br>
                                    <a class="btn btn-primary" href="#" role="button">Password Reset</a>
                                </small>
                            </p>
                        </div>
                        <!-- width:100%;border-top:1px solid silver -->
                    </div>
                    <!-- card-block -->
                </div>
                <!-- panel-collapse collapse -->
            </div>
            <!-- card -->

            <div class="card">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Need our help desk?</a>
                    </h4>
                </div>
                <!-- card-header -->
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="card-block">
                        <div class="container">
                            <br>
                            <a class="btn btn-primary" href="#" role="button">Live Chat</a>
                            <hr>
                        </div>
                        <!-- container -->
                    </div>
                    <!-- card-block -->
                </div>
                <!-- panel-collapse collapse -->
            </div>
            <!-- card -->

            <div class="faqHeader">Job Seekers</div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Is account registration required?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="card-block">
                        <div style="width:100%;border-top:1px solid silver">
                            <p style="padding:15px;">
                                <small>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae massa et dolor volutpat pretium ut vel nulla. Donec nec
                                    elementum est. Donec vitae orci a arcu dignissim tempus. Ut commodo leo et ante placerat,
                                    eu lobortis tellus fermentum. Nam sem sapien, porttitor finibus massa a, suscipit fermentum
                                    magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                    himenaeos. Nunc vel lacinia libero. Nunc non mauris eu lacus pellentesque tincidunt.
                                    Pellentesque consectetur nisi vel tellus volutpat, vel efficitur dolor imperdiet. Duis
                                    quis augue at lacus suscipit posuere. Nullam purus enim, tincidunt quis diam ac, congue
                                    consequat ipsum. Nullam quis faucibus mi. Praesent hendrerit augue urna, sed blandit
                                    nunc vulputate in. Morbi eu purus mauris. Duis tincidunt neque ut eros bibendum vehicula
                                    sed ut mauris. Pellentesque molestie mi id fringilla euismod.
                                </small>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Searching for a Job?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="card-block">
                        <div style="width:100%;border-top:1px solid silver">
                            <p style="padding:15px;">
                                <small>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae massa et dolor volutpat pretium ut vel nulla. Donec nec
                                    elementum est. Donec vitae orci a arcu dignissim tempus. Ut commodo leo et ante placerat,
                                    eu lobortis tellus fermentum. Nam sem sapien, porttitor finibus massa a, suscipit fermentum
                                    magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                    himenaeos. Nunc vel lacinia libero. Nunc non mauris eu lacus pellentesque tincidunt.
                                    Pellentesque consectetur nisi vel tellus volutpat, vel efficitur dolor imperdiet. Duis
                                    quis augue at lacus suscipit posuere. Nullam purus enim, tincidunt quis diam ac, congue
                                    consequat ipsum. Nullam quis faucibus mi. Praesent hendrerit augue urna, sed blandit
                                    nunc vulputate in. Morbi eu purus mauris. Duis tincidunt neque ut eros bibendum vehicula
                                    sed ut mauris. Pellentesque molestie mi id fringilla euismod.
                                </small>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Applying to a Job Post</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="card-block">
                        <p style="padding:15px;">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae massa et dolor volutpat pretium ut vel nulla. Donec nec
                                elementum est. Donec vitae orci a arcu dignissim tempus. Ut commodo leo et ante placerat,
                                eu lobortis tellus fermentum. Nam sem sapien, porttitor finibus massa a, suscipit fermentum
                                magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                Nunc vel lacinia libero. Nunc non mauris eu lacus pellentesque tincidunt. Pellentesque consectetur
                                nisi vel tellus volutpat, vel efficitur dolor imperdiet. Duis quis augue at lacus suscipit
                                posuere. Nullam purus enim, tincidunt quis diam ac, congue consequat ipsum. Nullam quis faucibus
                                mi. Praesent hendrerit augue urna, sed blandit nunc vulputate in. Morbi eu purus mauris.
                                Duis tincidunt neque ut eros bibendum vehicula sed ut mauris. Pellentesque molestie mi id
                                fringilla euismod.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Applying to Other Job Posts</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="card-block">
                        <p style="padding:15px;">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae massa et dolor volutpat pretium ut vel nulla. Donec nec
                                elementum est. Donec vitae orci a arcu dignissim tempus. Ut commodo leo et ante placerat,
                                eu lobortis tellus fermentum. Nam sem sapien, porttitor finibus massa a, suscipit fermentum
                                magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                Nunc vel lacinia libero. Nunc non mauris eu lacus pellentesque tincidunt. Pellentesque consectetur
                                nisi vel tellus volutpat, vel efficitur dolor imperdiet. Duis quis augue at lacus suscipit
                                posuere. Nullam purus enim, tincidunt quis diam ac, congue consequat ipsum. Nullam quis faucibus
                                mi. Praesent hendrerit augue urna, sed blandit nunc vulputate in. Morbi eu purus mauris.
                                Duis tincidunt neque ut eros bibendum vehicula sed ut mauris. Pellentesque molestie mi id
                                fringilla euismod.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">General Questions?</a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="card-block">
                        <p style="padding:15px;">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae massa et dolor volutpat pretium ut vel nulla. Donec nec
                                elementum est. Donec vitae orci a arcu dignissim tempus. Ut commodo leo et ante placerat,
                                eu lobortis tellus fermentum. Nam sem sapien, porttitor finibus massa a, suscipit fermentum
                                magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                Nunc vel lacinia libero. Nunc non mauris eu lacus pellentesque tincidunt. Pellentesque consectetur
                                nisi vel tellus volutpat, vel efficitur dolor imperdiet. Duis quis augue at lacus suscipit
                                posuere. Nullam purus enim, tincidunt quis diam ac, congue consequat ipsum. Nullam quis faucibus
                                mi. Praesent hendrerit augue urna, sed blandit nunc vulputate in. Morbi eu purus mauris.
                                Duis tincidunt neque ut eros bibendum vehicula sed ut mauris. Pellentesque molestie mi id
                                fringilla euismod.
                            </small>
                        </p>
                    </div>
                </div>
            </div>

            <div class="faqHeader">Employers</div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Registering with SMWDB</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="card-block">
                        <p style="padding:15px;">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae massa et dolor volutpat pretium ut vel nulla. Donec nec
                                elementum est. Donec vitae orci a arcu dignissim tempus. Ut commodo leo et ante placerat,
                                eu lobortis tellus fermentum. Nam sem sapien, porttitor finibus massa a, suscipit fermentum
                                magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                Nunc vel lacinia libero. Nunc non mauris eu lacus pellentesque tincidunt. Pellentesque consectetur
                                nisi vel tellus volutpat, vel efficitur dolor imperdiet. Duis quis augue at lacus suscipit
                                posuere. Nullam purus enim, tincidunt quis diam ac, congue consequat ipsum. Nullam quis faucibus
                                mi. Praesent hendrerit augue urna, sed blandit nunc vulputate in. Morbi eu purus mauris.
                                Duis tincidunt neque ut eros bibendum vehicula sed ut mauris. Pellentesque molestie mi id
                                fringilla euismod.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Creating a Job post</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="card-block">
                        <p style="padding:15px;">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae massa et dolor volutpat pretium ut vel nulla. Donec nec
                                elementum est. Donec vitae orci a arcu dignissim tempus. Ut commodo leo et ante placerat,
                                eu lobortis tellus fermentum. Nam sem sapien, porttitor finibus massa a, suscipit fermentum
                                magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                Nunc vel lacinia libero. Nunc non mauris eu lacus pellentesque tincidunt. Pellentesque consectetur
                                nisi vel tellus volutpat, vel efficitur dolor imperdiet. Duis quis augue at lacus suscipit
                                posuere. Nullam purus enim, tincidunt quis diam ac, congue consequat ipsum. Nullam quis faucibus
                                mi. Praesent hendrerit augue urna, sed blandit nunc vulputate in. Morbi eu purus mauris.
                                Duis tincidunt neque ut eros bibendum vehicula sed ut mauris. Pellentesque molestie mi id
                                fringilla euismod.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">How to repost a Job Post </a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse">
                    <div class="card-block">
                        <p style="padding:15px;">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae massa et dolor volutpat pretium ut vel nulla. Donec nec
                                elementum est. Donec vitae orci a arcu dignissim tempus. Ut commodo leo et ante placerat,
                                eu lobortis tellus fermentum. Nam sem sapien, porttitor finibus massa a, suscipit fermentum
                                magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                Nunc vel lacinia libero. Nunc non mauris eu lacus pellentesque tincidunt. Pellentesque consectetur
                                nisi vel tellus volutpat, vel efficitur dolor imperdiet. Duis quis augue at lacus suscipit
                                posuere. Nullam purus enim, tincidunt quis diam ac, congue consequat ipsum. Nullam quis faucibus
                                mi. Praesent hendrerit augue urna, sed blandit nunc vulputate in. Morbi eu purus mauris.
                                Duis tincidunt neque ut eros bibendum vehicula sed ut mauris. Pellentesque molestie mi id
                                fringilla euismod.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">How to Review Job Post Applications</a>
                    </h4>
                </div>
                <div id="collapseThirteen" class="panel-collapse collapse">
                    <div class="card-block">
                        <p style="padding:15px;">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae massa et dolor volutpat pretium ut vel nulla. Donec nec
                                elementum est. Donec vitae orci a arcu dignissim tempus. Ut commodo leo et ante placerat,
                                eu lobortis tellus fermentum. Nam sem sapien, porttitor finibus massa a, suscipit fermentum
                                magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                Nunc vel lacinia libero. Nunc non mauris eu lacus pellentesque tincidunt. Pellentesque consectetur
                                nisi vel tellus volutpat, vel efficitur dolor imperdiet. Duis quis augue at lacus suscipit
                                posuere. Nullam purus enim, tincidunt quis diam ac, congue consequat ipsum. Nullam quis faucibus
                                mi. Praesent hendrerit augue urna, sed blandit nunc vulputate in. Morbi eu purus mauris.
                                Duis tincidunt neque ut eros bibendum vehicula sed ut mauris. Pellentesque molestie mi id
                                fringilla euismod.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">How to Email All Job Post Applicants</a>
                    </h4>
                </div>
                <div id="collapseFourteen" class="panel-collapse collapse">
                    <div class="card-block">
                        <p style="padding:15px;">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae massa et dolor volutpat pretium ut vel nulla. Donec nec
                                elementum est. Donec vitae orci a arcu dignissim tempus. Ut commodo leo et ante placerat,
                                eu lobortis tellus fermentum. Nam sem sapien, porttitor finibus massa a, suscipit fermentum
                                magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                Nunc vel lacinia libero. Nunc non mauris eu lacus pellentesque tincidunt. Pellentesque consectetur
                                nisi vel tellus volutpat, vel efficitur dolor imperdiet. Duis quis augue at lacus suscipit
                                posuere. Nullam purus enim, tincidunt quis diam ac, congue consequat ipsum. Nullam quis faucibus
                                mi. Praesent hendrerit augue urna, sed blandit nunc vulputate in. Morbi eu purus mauris.
                                Duis tincidunt neque ut eros bibendum vehicula sed ut mauris. Pellentesque molestie mi id
                                fringilla euismod.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">Post a Workshop or Event</a>
                    </h4>
                </div>
                <div id="collapseTwelve" class="panel-collapse collapse">
                    <div class="card-block">
                        <p style="padding:15px;">
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae massa et dolor volutpat pretium ut vel nulla. Donec nec
                                elementum est. Donec vitae orci a arcu dignissim tempus. Ut commodo leo et ante placerat,
                                eu lobortis tellus fermentum. Nam sem sapien, porttitor finibus massa a, suscipit fermentum
                                magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                Nunc vel lacinia libero. Nunc non mauris eu lacus pellentesque tincidunt. Pellentesque consectetur
                                nisi vel tellus volutpat, vel efficitur dolor imperdiet. Duis quis augue at lacus suscipit
                                posuere. Nullam purus enim, tincidunt quis diam ac, congue consequat ipsum. Nullam quis faucibus
                                mi. Praesent hendrerit augue urna, sed blandit nunc vulputate in. Morbi eu purus mauris.
                                Duis tincidunt neque ut eros bibendum vehicula sed ut mauris. Pellentesque molestie mi id
                                fringilla euismod.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<% include shared/footer.ejs %>
