<% include shared/header.ejs %>
<style media="screen">
@keyframes spin {
100% {
	-webkit-transform: rotate(360deg);
	transform:rotate(360deg);
	}
}
main {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1px;
}
main h2 i {
	animation:spin 2s linear infinite;

}
</style>
<main class="animated fadeIn">
	<h2 class="animated fadeIn">Oops! this page is still under construction <i class="fas fa-cog"></i></h2>
</main>
<% include shared/footer.ejs %>
