<% include ../shared/header.ejs %>


<h1><%= title %></h1>
<style media="screen">
	main {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
	main div {
		margin-top: 2rem;
	}
</style>
<main>
  <div class="card" style="width: 27em;">
    <img class="card-img-top" src="/images/fb-icon.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Casino Rama</h5>
      <p class="card-text">Some info about Casino Rama.</p>
      <a href="/users/employer-booth" class="btn btn-primary">Go to Employer Profile</a>
    </div>
  </div>

  <div class="card" style="width: 15em;">
    <img class="card-img-top" src="/images/busyLizzie.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Busy Lizzie</h5>
      <p class="card-text">Some info about Busy Lizzie.</p>
      <a href="#" class="btn btn-primary">Go to Employer Profile</a>
    </div>
  </div>

  <div class="card" style="width: 26em;">
    <img class="card-img-top" src="/images/PrattsLawnCareLOGO_2014-1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pratt's Lawncare</h5>
      <p class="card-text">Some info about Pratt's Lawncare.</p>
      <a href="#" class="btn btn-primary">Go to Employer Profile</a>
    </div>
  </div>

  <div class="card" style="width: 13em;">
    <img class="card-img-top" src="/images/YMCA-logo-for-print.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">YMCA</h5>
      <p class="card-text">Some info about YMCA.</p>
      <a href="#" class="btn btn-primary">Go to Profile</a>
    </div>
  </div>

  <div class="card" style="width: 40em;">
    <img class="card-img-top" src="/images/logo-red-en.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Scotiabank</h5>
      <p class="card-text">Some info about Scotiabank.</p>
      <a href="#" class="btn btn-primary">Go to Employer Profile</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/McKee-Tirecraft-Collingood-Logo-Sign-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">McKee Tirecraft</h5>
      <p class="card-text">Some info about McKee Tirecraft.</p>
      <a href="#" class="btn btn-primary">Go to Employer Profile</a>
    </div>
  </div>

  <div class="card" style="width: 12em;">
    <img class="card-img-top" src="/images/Taboo_Muskoka_Logo_BLK-300x171.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Taboo Muskoka</h5>
      <p class="card-text">Some info about Taboo Muskoka.</p>
      <a href="#" class="btn btn-primary">Go to Profile</a>
    </div>
  </div>

  <div class="card" style="width: 10em;">
    <img class="card-img-top" src="/images/SoundSealsInsulation.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sound Seals Insulation</h5>
      <p class="card-text">Some info about Sound Seals Insulation.</p>
      <a href="#" class="btn btn-primary">Go to Profile</a>
    </div>
  </div>

  <div class="card" style="width: 33em;">
    <img class="card-img-top" src="/images/Stevenson.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Stevenson</h5>
      <p class="card-text">Some info about Stevenson.</p>
      <a href="#" class="btn btn-primary">Go to Employer Profile</a>
    </div>
  </div>

  <div class="card" style="width: 47em;">
    <img class="card-img-top" src="/images/SQlogo.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Stratosphere Quality</h5>
      <p class="card-text">Some info about Stratosphere Quality.</p>
      <a href="#" class="btn btn-primary">Go to Employer Profile</a>
    </div>
  </div>
</main>
  <!-- <div class="card" style="width: 10em;">
    <img class="card-img-top" src="images/jarlette-health-services-squarelogo-1457697043811.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Jarlette Health Services</h5>
      <p class="card-text">Some info about Jarlette Health Services.</p>
      <a href="#" class="btn btn-primary">Go to Profile</a>
    </div>
  </div> -->

<% include ../shared/footer.ejs %>
