<% include ../shared/header.ejs %>


<h1><%= title %></h1>
<p></p>

<div class="employeeProfileContainer">
    <div class="row">
      <div class="col-sm">
        <h2>Employee Profile</h2>
        <img src="/images/fb-icon.png" alt="Casino Rama Logo Image" height="200px" width="200px">
      </div>
      <div class="col-sm">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisl, pulvinar vel elementum vitae, vulputate aliquet orci. Donec lobortis eros id tellus laoreet, convallis semper erat rhoncus. Sed condimentum arcu purus, vitae ultricies neque mollis vel. Donec eu consequat lorem. Phasellus lobortis magna eget orci viverra, nec porta tellus euismod. Donec orci ante, dignissim id ante nec, pharetra tristique nulla. Donec eleifend dolor in est vehicula rutrum. Nulla facilisi. Sed at vestibulum diam. Integer sit amet magna in tellus luctus feugiat. Integer a elit vel purus suscipit tincidunt. Nam eros felis, blandit vel enim aliquet, fermentum suscipit ipsum. Proin lacinia at nisi et sollicitudin. Aliquam dignissim sapien et sem consectetur fringilla. Vestibulum sed venenatis lorem. In ac laoreet purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisl, pulvinar vel elementum vitae, vulputate aliquet orci. Donec lobortis eros id tellus laoreet, convallis semper erat rhoncus. Sed condimentum arcu purus, vitae ultricies neque mollis vel. Donec eu consequat lorem. Phasellus lobortis magna eget orci viverra, nec porta tellus euismod. Donec orci ante, dignissim id ante nec, pharetra tristique nulla. Donec eleifend dolor in est vehicula rutrum. Nulla facilisi. Sed at vestibulum diam. Integer sit amet magna in tellus luctus feugiat. Integer a elit vel purus suscipit tincidunt. Nam eros felis, blandit vel enim aliquet, fermentum suscipit ipsum. Proin lacinia at nisi et sollicitudin. Aliquam dignissim sapien et sem consectetur fringilla. Vestibulum sed venenatis lorem. In ac laoreet purus.</p>
      </div>
    </div>
  </div>

<h1>Employee Information</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisl, pulvinar vel elementum vitae, vulputate aliquet orci. Donec lobortis eros id tellus laoreet, convallis semper erat rhoncus. Sed condimentum arcu purus, vitae ultricies neque mollis vel. Donec eu consequat lorem. Phasellus lobortis magna eget orci viverra, nec porta tellus euismod. Donec orci ante, dignissim id ante nec, pharetra tristique nulla. Donec eleifend dolor in est vehicula rutrum. Nulla facilisi. Sed at vestibulum diam. Integer sit amet magna in tellus luctus feugiat. Integer a elit vel purus suscipit tincidunt. Nam eros felis, blandit vel enim aliquet, fermentum suscipit ipsum. Proin lacinia at nisi et sollicitudin. Aliquam dignissim sapien et sem consectetur fringilla. Vestibulum sed venenatis lorem. In ac laoreet purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisl, pulvinar vel elementum vitae, vulputate aliquet orci. Donec lobortis eros id tellus laoreet, convallis semper erat rhoncus. Sed condimentum arcu purus, vitae ultricies neque mollis vel. Donec eu consequat lorem. Phasellus lobortis magna eget orci viverra, nec porta tellus euismod. Donec orci ante, dignissim id ante nec, pharetra tristique nulla. Donec eleifend dolor in est vehicula rutrum. Nulla facilisi. Sed at vestibulum diam. Integer sit amet magna in tellus luctus feugiat. Integer a elit vel purus suscipit tincidunt. Nam eros felis, blandit vel enim aliquet, fermentum suscipit ipsum. Proin lacinia at nisi et sollicitudin. Aliquam dignissim sapien et sem consectetur fringilla. Vestibulum sed venenatis lorem. In ac laoreet purus.</p>


<% include ../shared/footer.ejs %>
